# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# ========================
# Entorno virtual
# ========================
venv/
.venv/
env/
backend/venv/

# ========================
# Django
# ========================
*.sqlite3
*.log
media/
staticfiles/
static/

# ========================
# Variables de entorno
# ========================
.env
.env.local
.env.production
.env.staging
frontend/.env
fronted/.env

# ========================
# Node / Frontend
# ========================
node_modules/
fronted/node_modules/
frontend/node_modules/
fronted/dist/
frontend/dist/
dist/
.npm/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# IDEs
# ========================
.vscode/
.idea/
*.suo
*.user

# ========================
# Claude Code
# ========================
.claude/
